::-webkit-scrollbar{
  width:.7em;
}

::-webkit-scrollbar-track{
  background:rgba(0,0,0,.01);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background:black;
  border-radius: 10px;
}


body{
  background:white;
  color:black;
  overflow-x: hidden;
}
.logo{
  height:10vh;
  background:url(cz_logo.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
  padding:0 2vw 0 2vw;
  text-decoration: none;
  position:absolute;
  left:6vw;
  top:0;
  cursor:pointer;
}
.grey_background{
  position:absolute;
  width:100vw;
  top:0;
  left:0;
  background: rgba(0,0,0,.5);
  transition: .1s ease-in-out;
  z-index:100;
}
.menu_btn{
  height:6vh;
  width:auto;
  color:black;
  padding:0 2vw 0 2vw;
  position:absolute;
  right:6vw;
  top:2vh;
  font-size:35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.cart_in_top{
  height:6vh;
  width:auto;
  background: black;
  color:white;
  padding:0 2vw 0 2vw;
  position:absolute;
  right:12vw;
  text-decoration: none;
  top:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;  
}

.number_of_items_in_cart{
  position: absolute;
  height:30px;
  width:10px;
  padding:0 1vw;
  margin-top:-50%;
  margin-right:-90%;
  background: white;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.nev_area{
  height:200vh;
  width:40vw;
  position:absolute;
  background:white;
  right:0;
  top:0;
  transition: .3s ease-in-out;
  z-index:100;
}
.close_menu_btn{
  height:5vh;
  width:auto;
  background:black;
  color:white;
  padding:0 2vw 0 2vw;
  border-radius: 10px;
  position:absolute;
  right:2vw;
  top:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.home{
  height:5vh;
  width:90%;
  background:black;
  color:white;
  float:left;
  margin-top:20vh;
  margin-left:50%;
  transform: translate(-50%,0);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.about_us{
  height:5vh;
  width:90%;
  background:black;
  color:white;
  float:left;
  margin-top:5vh;
  margin-left:50%;
  transform: translate(-50%,0);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.order_status_area_btn{
  height:5vh;
  width:90%;
  background:black;
  color:white;
  float:left;
  margin-top:5vh;
  margin-left:50%;
  transform: translate(-50%,0);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
 
@media(max-width:991px){
  .logo{
    height:10vh;
    width:5vw;
    background-size: 100%;
  }
  .menu_btn{
    height:5vh;
    font-size: 25px;
  }
  .cart_in_top{
    height:5vh;
    padding:0 6vw 0 6vw;
    right:17vw;
  }
  .number_of_items_in_cart{
    width:20px;
    margin-top: -40%;
    margin-right: -90%;
  }
  .nev_area{
    width:80vw;
  }
  .close_menu_btn{
    height:5vh;
    padding:0 4vw 0 4vw;
  }
}