.Cart{
/*	margin-top:-10vh;*/
}

.no_item_display_area{
	position:fixed;
	height:70vh;
	width:80vw;
	color:grey;
	margin-top:15%;
	margin-left:50%;
	transform: translate(-50%,0);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: verdana;
	font-size:50px;
}

.products_area{
	height:auto;
	width:100vw;
	padding:0vh 0 2vh 0;
}

.product{
	height:65vh;
	width:20vw;
 	margin: 2.5vh 2.3vw 2.5vh 2.3vw;
	float:left;
	cursor: pointer;
}

.image{
	height:50vh;
	width:20vw;
}

.product_name{
	height:auto;
	width:20vw;
	padding:2vh 0 2vh 0;
	font-family: verdana;
	float: left;
}

.price{
	height:auto;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 25px ;
	font-weight: 525;
}

.detail_of_product_area{
	position:fixed;
	height:100vh;
	width:100vw;
	background: white;
	box-shadow: 0 0 100px black;
	top:2.5vh;
	z-index: 100;
	transition:.4s;
}

.close_detail_Area_btn{
  height:5vh;
  width:auto;
  background:black;
  color:white;
  padding:0 2vw 0 2vw;
  border-radius: 10px;
  position:absolute;
  right:2vw;
  top:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
  cursor:pointer;
}

.detail_image_area{
	height:80vh;
	width:45vw;
	float: left;
	margin-top:8vh;
	margin-left:2vw;
}

.leading_image{
	height:65vh;
	width:45vw;
	float: left;
}

.secondary_image{
	height:10vh;
	width:30vw;
	margin-top: 2vh;
	display: flex;
	gap:2vw;
	float: left;
}

.first_image{
	height:10vh;
	flex:1;
}

.second_image{
	height:10vh;
	flex:1;
}

.third_image{
	height:10vh;
	flex:1;
}

.forth_image{
	height:10vh;
	flex:1;
}

.fifth_image{
	height:10vh;
	flex:1;
}

.detail_info_area{
	height:80vh;
	width:45vw;
	float: left;
	margin-top:8vh;
	margin-left:2vw;
}

.detail_product_name{
	height:4vh;
	width:45vw;
	float: left;
	font-family: verdana;
	font-size: 25px;
}

.detail_price{
	height:4vh;
	width:45vw;
	margin-top:2vh;
	font-family: verdana;
	font-size: 20px;	
	float: left;
}

.detail_info{
	height:40vh;
	width:45vw;
	margin-top:2vh;
	font-family: verdana;
	overflow-y: scroll ;
	float: left;
}

.sizes_header_text{
	width:20vw;
	padding:2vh 0 0 0;
	margin-left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	font-family: verdana;
	font-weight: 700;
	float: left;
}

.sizes_area{
	height:6vh;
	width:20vw;
	margin-top:2vh;
	margin-left:50%;
	transform: translate(-50%,0);
	display: flex;
	gap: 1vw;
	float: left;
}

.small_size_btn{
	flex:1;
	color:black;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border:2px solid black;
	cursor:pointer;
}
.medium_size_btn{
	flex:1;
	color:black;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border:2px solid black;
	cursor:pointer;
}
.large_size_btn{
	flex:1;
	color:black;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border:2px solid black;
	cursor:pointer;
}
.xl_size_btn{
	flex:1;
	color:black;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border:2px solid black;
	cursor:pointer;
}

.quantity_header_text{
	width:20vw;
	padding:1vh 0 0 0;
	margin-left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	font-family: verdana;
	font-weight: 700;
	float: left;
}

.quantity_area{
	height:6vh;
	width:20vw;
	margin-top:2vh;
	margin-left:50%;
	transform: translate(-50%,0);
	display: flex;
	float: left;
}

.decrease_auantity_btn{
	flex:1;
	background:black;
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
}

.quantity{
	flex:1;
	background:white;
	color:black;
	display:flex;
	justify-content: center;
	align-items: center;
}

.increase_auantity_btn{
	flex:1;
	background:black;
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
}


@media(max-width:991px){
	.Cart{
		margin-top: 0vh;
	}

	.no_item_display_area{
		width:95;
		margin-top: 50%;
		font-size: 20px;
	}

	.product{
		height:45vh;
		width:45vw;
	  	margin: 2vh 2.5vw 2vh 2.5vw;
	}

	.image{
		height:35vh;
		width:45vw;
		background-position: center center;
	}

	.product_name{
		width:45vw;
	}

	.price{
		width:45vw;
	}

	.close_detail_Area_btn{
		padding:0 5vw 0 5vw ;
		border-radius: 0;
	}

	.detail_of_product_area{
		height:100vh;
		top:0;
	}

	.detail_image_area{
		height:40vh;
		width:90vw;
		margin-top:0vh;
		margin-left:50%;
		transform: translate(-50%,0);
	}

	.leading_image{
		height:32vh;
		width:90vw;
	}

	.secondary_image{
		height:7vh;
		width:70vw;
		margin-top: 1vh;
	}

	.first_image{
		height:7vh;
	}

	.second_image{
		height:7vh;
	}

	.third_image{
		height:7vh;
	}

	.forth_image{
		height:7vh;
	}

	.fifth_image{
		height:7vh;
	}

	.detail_info_area{
		height:40vh;
		width:90vw;
		margin-top:2vh;
		margin-left:50%;
		transform: translate(-50%,0);
	}

	.detail_product_name{
		width:90vw;	

	}

	.detail_price{
		width:90vw;	
		margin-top:0vh;
	}

	.detail_info{
		height:15vh;
		width:90vw;	
		margin-top:2vh;
	}

	.quantity_area{
		height:5vh;
		width:40vw;
	}

	.sizes_header_text{
		width:40vw;
	}

	.sizes_area{
		height:5vh;
		width:40vw;
		font-size: 10px;
	}
}