
.Home{
	margin-top:10vh;
}

.header{
	height: 100vh;
	margin:2vh 0 0 0;
	width:100vw;
	background: url(headerImage.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;
	z-index:1;
	position: relative;
}

.grey_layer{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: rgba(0,0,0,.5);
}

.header_text{
	hegith:10vh;
	width:80vw;
	margin-left: 5vw;
	margin-top:30vh;
	float: left;
	font-family: "Kanit", sans-serif;
	font-size: 60px;
	font-weight: 700;
	color:white;
}

.sub_header_text{
	hegith:10vh;
	width:80vw;
	color:white;
	margin-left: 5vw;
	margin-top:5vh;
	float: left;
	text-align: justify;
	font-family: verdana;
	font-size: 25px;
}

.about_us_btn{
  height:5vh;
  width:20vw;
  border:2px solid white;
  color:white;
  margin-left: 5vw;
  margin-top:5vh;
  padding:0 2vw 0 2vw;
  float: left;
  font-weight: 700;
  font-family: verdana;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: .2s;
}

.about_us_btn:hover{
	background:white;
	color:black;
}

.products_header{
	padding:2vh 2.5vw;
	margin:5vh 0 0 0 ;
	font-size: 20px;
	font-weight: 600;
}

.products_area{
	height:auto;
	width:100vw;
	perspective: 50em;
}

.product{
	height:65vh;
	width:20vw;
  margin: 2.5vh 2.3vw 2.5vh 2.3vw;
  float:left;
  transform-style: preserve-3d;
  cursor: pointer;
}

.image{
	height:50vh;
	width:20vw;
	background-position: left center;
	transition: .4s;
}

.product_name{
	height:auto;
	width:20vw;
	padding:2vh 0 2vh 0;
	font-family: verdana;
	float: left;
	transition: .4s;
}

.price{
	height:auto;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 25px ;
	font-weight: 525;
	transition: .4s;
}

.mouse{
	position: absolute;
	height: 33.33%;
	width: 33.33%;
/*	background: red;*/
	z-index: 10;
}
.m1{
	top: 0;
	left: 0;
}
.m1:hover ~ .image{
	transform: rotateX(8deg) rotateY(-8deg);
}
.m1:hover ~ .product_name{
	transform: rotateX(8deg) rotateY(-8deg);
}
.m1:hover ~ .price{
	transform: rotateX(8deg) rotateY(-8deg);
}
.m2{
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}
.m2:hover ~ .image{
	transform: rotateX(8deg) rotateY(0);
}
.m2:hover ~ .product_name{
	transform: rotateX(8deg) rotateY(0);
}
.m2:hover ~ .price{
	transform: rotateX(8deg) rotateY(0);
}
.m3{
	top: 0;
	right: 0;
}
.m3:hover ~ .image{
	transform: rotateX(8deg) rotateY(8deg);
}
.m3:hover ~ .product_name{
	transform: rotateX(8deg) rotateY(8deg);
}
.m3:hover ~ .price{
	transform: rotateX(8deg) rotateY(8deg);
}
.m4{
	top: 50%;
	transform: translate(0,-50%);
	left: 0;
}
.m4:hover ~ .image{
	transform: rotateX(0) rotateY(-8deg);
}
.m4:hover ~ .product_name{
	transform: rotateX(0) rotateY(-8deg);
}
.m4:hover ~ .price{
	transform: rotateX(0) rotateY(-8deg);
}
.m5{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.m5:hover ~ .image{
	transform: rotateX(0) rotateY(0);
}
.m5:hover ~ .product_name{
	transform: rotateX(0) rotateY(0);
}
.m5:hover ~ .price{
	transform: rotateX(0) rotateY(0);
}
.m6{	
	top: 50%;
	transform: translate(0,-50%);
	right: 0;
}
.m6:hover ~ .image{
	transform: rotateX(0) rotateY(8deg);
}
.m6:hover ~ .product_name{
	transform: rotateX(0) rotateY(8deg);
}
.m6:hover ~ .price{
	transform: rotateX(0) rotateY(8deg);
}
.m7{
	bottom: 0;
	left: 0;
}
.m7:hover ~ .image{
	transform: rotateX(-8deg) rotateY(-8deg);
}
.m7:hover ~ .product_name{
	transform: rotateX(-8deg) rotateY(-8deg);
}
.m7:hover ~ .price{
	transform: rotateX(-8deg) rotateY(-8deg);
}
.m8{
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
}
.m8:hover ~ .image{
	transform: rotateX(-8deg) rotateY(0);
}
.m8:hover ~ .product_name{
	transform: rotateX(-8deg) rotateY(0);
}
.m8:hover ~ .price{
	transform: rotateX(-8deg) rotateY(0);
}
.m9{
	bottom: 0;
	right: 0;
}
.m9:hover ~ .image{
	transform: rotateX(-8deg) rotateY(8deg);
}
.m9:hover ~ .product_name{
	transform: rotateX(-8deg) rotateY(8deg);
}
.m9:hover ~ .price{
	transform: rotateX(-8deg) rotateY(8deg);
}



.detail_of_product_area{
	position:fixed;
	height:100vh;
	width:100vw;
	background: white;
	box-shadow: 0 0 100px black;
	top:0;
	z-index: 100;
	transition:.4s;
}

.close_detail_Area_btn{
  height:5vh;
  width:auto;
  background:black;
  color:white;
  padding:0 2vw 0 2vw;
  border-radius: 10px;
  position:absolute;
  right:2vw;
  top:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.detail_image_area{
	height:80vh;
	width:45vw;
	float: left;
	margin-top:8vh;
	margin-left:2vw;
}

.leading_image{
	height:65vh;
	width:45vw;
	background-size: 50%;
	float: left;
}

.secondary_image{
	height:10vh;
	width:30vw;
	margin-top: 2vh;
	display: flex;
	gap:2vw;
	float: left;
}

.first_image{
	height:10vh;
	flex:1;
	cursor:pointer;
}

.second_image{
	height:10vh;
	flex:1;
	cursor:pointer;
}

.third_image{
	height:10vh;
	flex:1;
	cursor:pointer;
}

.forth_image{
	height:10vh;
	flex:1;
	cursor:pointer;
}

.fifth_image{
	height:10vh;
	flex:1;
	cursor:pointer;
}

.detail_info_area{
	height:80vh;
	width:45vw;
	float: left;
	margin-top:8vh;
	margin-left:2vw;
}

.detail_product_name{
	height:4vh;
	width:45vw;
	float: left;
	font-family: verdana;
	font-size: 25px;
}

.detail_price{
	height:4vh;
	width:45vw;
	margin-top:2vh;
	font-family: verdana;
	font-size: 20px;	
	float: left;
}

.detail_info{
	white-space: pre-wrap;
	height:40vh;
	width:45vw;
	margin-top:2vh;
	font-family: verdana;
	overflow-y: scroll ;
	float: left;
}


.add_to_cart_btn{
  width:30vw;
  border:2px solid white;
  background:black;
  color:white;
  margin-top:6vh;
  margin-left: 50%;
  transform: translate(-50%,0);
  padding:2vh 2vw 2vh 2vw;
  float: left;
  font-family: verdana;
  display: flex;
  justify-content: center;
  align-items: center;
  outline:none;
  cursor:pointer;
}

            



.gap{
	height:5vh;
	width:20vw;
	float: left;
	margin-top: 2vh;
}

.footer{
	height: 40vh;
	width:100vw;
	float: left;
}

.footer_header{
	height:10vh;
	width:100vw;
	margin-top:10vh;
	float: left;
	display: flex;
	gap:2vw;
}

.logo_a{
  height:10vh;
  width:5vw;
  color:black;
  background:url(cz_logo.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  padding:0 2vw 0 2vw;
  float: left;
  text-decoration: none;
  cursor:pointer;
}

.socials{
	height:5vh;
	flex:2;
	display: flex;
}

.facebook_btn{
  height:6vh;
  color:black;
  padding:0 2vw 0 2vw;
  font-size: 15px;
  font-weight: 650;
  text-decoration: none;
  right:6vw;
  top:2vh;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.instagram_btn{
  height:6vh;
  color:black;
  padding:0 2vw 0 2vw;
  font-size: 15px;
  font-weight: 650;
  text-decoration: none;
  right:6vw;
  top:2vh;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.line{
	height:.2vh;
	width:95vw;
	background: grey;
	float: left;
	margin-top: 5vh;
	margin-left: 50%;
	transform: translate(-50%,0);
}

.copyright{
	width:50vw;
	color:grey;
	float: left;
	margin-top:3vh;
	font-size: 20px;
	margin-left:50%;
	transform: translate(-50%,0);
	text-align:center;
}

@media(max-width:991px){
			.Home{
				margin-top:7vh;
				overflow-x: hidden;
			}
			.header{
				height:40vh;
				background-size:cover;
			}
			.grey_layer{
				background: rgba(0, 0, 0, .8);
			}
			.header_text{
				margin-top:10vh;
				font-size: 20px;
			}
			.sub_header_text{
				text-align: left;
				font-size: 15px;
			}

			.about_us_btn{
				width:40vw;
			}

			.products_header{
				padding: 2vh 0 0 2.5vh;
			}

			.products_area{
				padding:0;
			}
			.product{
				height:45vh;
				width:45vw;
			  margin: 2vh 2.5vw 2vh 2.5vw;
			}

			.image{
				height:35vh;
				width:45vw;
				background-position: center center;
			}

			.product_name{
				width:45vw;
			}

			.price{
				width:45vw;
			}

			.close_detail_Area_btn{
				padding:0 5vw 0 5vw ;
				border-radius: 0;
			}

			.detail_of_product_area{
				height:90vh;
				top:50%;
				transform: translate(0,-50%);
				box-shadow: 0 0 500px black;
				overflow-x: hidden;
				overflow-y: scroll;
			}

			.detail_image_area{
				height:70vh;
				width:90vw;
				margin-top:0vh;
				margin-left:50%;
				transform: translate(-50%,0);
			}

			.leading_image{
				height:80%;
				background-size: 70%;
				width:90vw;
			}

			.secondary_image{
				height:15%;
				width:95%;
				margin-top: 1vh;
			}

			.first_image{
				height:100%;
			}

			.second_image{
				height:100%;
			}

			.third_image{
				height:100%;
			}

			.forth_image{
				height:100%;
			}

			.fifth_image{
				height:100%;
			}

			.detail_info_area{
				height:40vh;
				width:90vw;
				margin-top:2vh;
				margin-left:50%;
				transform: translate(-50%,0);
			}

			.detail_product_name{
				width:90vw;	

			}

			.detail_price{
				width:90vw;	
				margin-top: .5vh;				
			}

			.detail_info{
				height:auto;
				padding:2vh 0 2vh 0;
				width:90vw;	
				margin-top:2vh;
			}
			.sizes{
				margin-top:4vh;
				padding:1vh 2vh 1vh 2vh;
			}

			.logo_a{
				height: 5vh;
				margin-top: 0vh;
				background-size: 35%;
				flex:.6;
			}
			.line{
				width:90vw;
				margin-top:4vh;
			}
			.copyright{
				width:70vw;
			}
}	