.OrderStatusScreen{
	margin-top:10vh;
}

.order_status_input{
	width:80vw;
	outline: none;
	border-bottom:4px solid black;
	border-top:0;
	border-left:0;
	border-right:0;
	padding:2vh 0 2vh 2vw;
	font-family: verdana;
	margin-top:7vh;
	margin-left:50%;
	transform: translate(-50%,0);
	float: left;
}

.order_status_btn{
	padding:2vh 4vw 2vh 4vw;
	text-align: center;
	background:black;
	color:white;
	cursor:pointer;
	float: left;
	margin-top: 10vh;
	margin-left: 50%;
	transform: translate(-50%,0);
	transition: .4s;
}
.order_status_btn:hover{
	border-radius: 10px;
}

.order_area{
	position:fixed;
	height:90vh;
	width:100vw;
	background:white;
	box-shadow: 0 0 10px black;
	top:50%;
	transform: translate(0,-50%);
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 100;
	transition: .4s;
}

.close_detail_Area_btn{
  height:5vh;
  width:auto;
  background:black;
  color:white;
  padding:0 2vw 0 2vw;
  border-radius: 10px;
  position:absolute;
  right:2vw;
  top:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.order_status{
	height:5vh;
	width:100vw;
	float: left;
	padding:2vh 0 0 2vw;
	font-family: verdana;
}


.products_area{
	height:auto;
	width:100vw;
}

.product{
	height:65vh;
	width:20vw;
  margin: 2.5vh 2.3vw 2.5vh 2.3vw;
  float:left;
  cursor: pointer;
}

.image{
	height:50vh;
	width:20vw;
/*	background:#DBDBDB;*/
	background-position: left center;
}

.product_name{
	height:auto;
	width:20vw;
	padding:2vh 0 2vh 0;
	font-family: verdana;
	float: left;
}

.price{
	height:auto;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 25px ;
	font-weight: 525;
}


@media(max-width:991px){

		.order_status_btn{
			margin-top:5vh;
			padding:2vh 10vw 2vh 10vw;
		}

		.order_status{
			margin:10vh 0;
		}

		.close_detail_Area_btn{
			padding:0 5vw 0 5vw ;
			border-radius: 0;
		}
		.products_area{
			padding:0;
		}
		.product{
			height:45vh;
			width:45vw;
		  margin: 2vh 2.5vw 2vh 2.5vw;
		}

		.image{
			height:35vh;
			width:45vw;
			background-position: center center;
		}

		.product_name{
			width:45vw;
		}

		.price{
			width:45vw;
		}

}